html,
body {
  background-color: rgb(70, 70, 70);
  margin: 0;
  padding: 10;
  display: flexbox;
}

canvas {
  display: block;
}

.seperator {
  margin-top: 2vw;
  align-items: center;
  justify-content: center;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}
